In [1]:
from collections import defaultdict
from operator import itemgetter

import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
del df['PassengerId']
del df['Name']
del df['SibSp']
del df['Parch']
del df['Ticket']
del df['Cabin']
del df['Embarked']

In [4]:
df

     Survived  Pclass     Sex   Age      Fare
0           0       3    male  22.0    7.2500
1           1       1  female  38.0   71.2833
2           1       3  female  26.0    7.9250
3           1       1  female  35.0   53.1000
4           0       3    male  35.0    8.0500
5           0       3    male   NaN    8.4583
6           0       1    male  54.0   51.8625
7           0       3    male   2.0   21.0750
8           1       3  female  27.0   11.1333
9           1       2  female  14.0   30.0708
10          1       3  female   4.0   16.7000
11          1       1  female  58.0   26.5500
12          0       3    male  20.0    8.0500
13          0       3    male  39.0   31.2750
14          0       3  female  14.0    7.8542
15          1       2  female  55.0   16.0000
16          0       3    male   2.0   29.1250
17          1       2    male   NaN   13.0000
18          0       3  female  31.0   18.0000
19          1       3  female   NaN    7.2250
20          0       2    male  35.0   26.0000
21          1       2    male  34.0   13.0000
22          1       3  female  15.0    8.0292
23          1       1    male  28.0   35.5000
24          0       3  female   8.0   21.0750
25          1       3  female  38.0   31.3875
26          0       3    male   NaN    7.2250
27          0       1    male  19.0  263.0000
28          1       3  female   NaN    7.8792
29          0       3    male   NaN    7.8958
..        ...     ...     ...   ...       ...
861         0       2    male  21.0   11.5000
862         1       1  female  48.0   25.9292
863         0       3  female   NaN   69.5500
864         0       2    male  24.0   13.0000
865         1       2  female  42.0   13.0000
866         1       2  female  27.0   13.8583
867         0       1    male  31.0   50.4958
868         0       3    male   NaN    9.5000
869         1       3    male   4.0   11.1333
870         0       3    male  26.0    7.8958
871         1       1  female  47.0   52.5542
872         0       1    male  33.0    5.0000
873         0       3    male  47.0    9.0000
874         1       2  female  28.0   24.0000
875         1       3  female  15.0    7.2250
876         0       3    male  20.0    9.8458
877         0       3    male  19.0    7.8958
878         0       3    male   NaN    7.8958
879         1       1  female  56.0   83.1583
880         1       2  female  25.0   26.0000
881         0       3    male  33.0    7.8958
882         0       3  female  22.0   10.5167
883         0       2    male  28.0   10.5000
884         0       3    male  25.0    7.0500
885         0       3  female  39.0   29.1250
886         0       2    male  27.0   13.0000
887         1       1  female  19.0   30.0000
888         0       3  female   NaN   23.4500
889         1       1    male  26.0   30.0000
890         0       3    male  32.0    7.7500

[891 rows x 5 columns]

In [5]:
df = df[np.isnan(df.Survived) == False]
df = df[np.isnan(df.Pclass) == False]
df = df[np.isnan(df.Age) == False]
df = df[np.isnan(df.Fare) == False]

In [13]:
df['Sex']

0        male
1      female
2      female
3      female
4        male
6        male
7        male
8      female
9      female
10     female
11     female
12       male
13       male
14     female
15     female
16       male
18     female
20       male
21       male
22     female
23       male
24     female
25     female
27       male
30       male
33       male
34       male
35       male
37       male
38     female
        ...
856    female
857      male
858    female
860      male
861      male
862    female
864      male
865    female
866    female
867      male
869      male
870      male
871    female
872      male
873      male
874    female
875    female
876      male
877      male
879    female
880    female
881      male
882    female
883      male
884      male
885    female
886      male
887    female
889      male
890      male
Name: Sex, Length: 714, dtype: object

In [10]:
X = df[['Pclass', 'Sex', 'Age', 'Fare']]
y = df[['Survived']]

In [14]:
sex_mapping = {'male': 0, 'female': 1}
X['Sex'] = map(lambda x: sex_mapping[x], X['Sex'])

/home/ishalyminov/.virtualenvs/coursera_vorontsov/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

In [28]:
importances = clf.feature_importances_
print X.columns
print importances
with open('task_1', 'w') as task_1_out:
    task_1_out.write(' '.join(map(itemgetter(1), sorted(zip(importances, X.columns), reverse=True)[:2])))

Index([u'Pclass', u'Sex', u'Age', u'Fare'], dtype='object')
[ 0.14751816  0.30051221  0.25124241  0.30072722]